.portraitImage
{
    border-radius: 50%;
    width:50%;
    height: 50%;
}
.portraitImage:hover
{
    opacity: 0.5;
    /* filter: brightness(50%) */
}

html{
    background-color:#98c1d9;
    height: 100%;
}
body{
    background: url("../images/woodBackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin: auto;
    background-size: 100% 100vh;;
    display: flex;
    width: 85%;
    height: 100%;
    font-family:  "UbuntuMono";
    border-radius: 10px;
}

.pageinfo{

}

.pagecontainer{

}

#indexheader{
    width: 50%;
    height: 60px;
    background-color: #3d5a80;
    margin-left: 25%;
    border-radius: 10px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    color: white;
}
.blink {
    animation: blink 1.1s linear infinite alternate;
  }
  @keyframes blink {
    from {opacity: 1;}
    20% {opacity: 1;}
    28% {opacity: 0;}
    72% {opacity: 0;}
    80% {opacity: 1;}
    to {opacity: 1;}
  }




